/* --------------- icono --------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('../icons/fonts/icomoon.eot?frgqqx');
  src:  url('../icons/fonts/icomoon.eot?frgqqx#iefix') format('embedded-opentype'),
    url('../icons/fonts/icomoon.ttf?frgqqx') format('truetype'),
    url('../icons/fonts/icomoon.woff?frgqqx') format('woff'),
    url('../icons/fonts/icomoon.svg?frgqqx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

/* ------------------ CONFIGURACIONES GENERALES/CONSTANTES -------------- */


html {
  scroll-behavior: smooth;
}


body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h2{
  margin: 40px 80px;
  padding-bottom: 15px;
  color: #3E516D;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  border-bottom: solid 5px;
  border-image: linear-gradient(to right, pink 0%, pink 3%,#ECF0F1 3%, #ECF0F1 100%);
  border-image-slice: 1;
  text-transform: uppercase;
}

p{
  font-family: 'Lato', sans-serif;
  color: #7F7F7F;
  font-size: 16px;
  font-weight: lighter;
  margin: 0 80px;
  line-height: 30px;
  letter-spacing: 2px;
  /* width: 1000px; */
  /* padding-bottom: 20px; */
}

.hamburger{
  color: black;
  background: white;
  font-size: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  z-index: 2;
  top: 5px;
  display: none;
  padding-left: 90px;
}

/* --------------- Header --------------------- */

.header{
  display: inline;
  background: white;
  position: fixed;
  top: 0;
  right:0;
  width: 100vw;
  z-index: 1;
  height: 70px;
  border-bottom: solid 1px #404A62;
}

/* Logo */

.logosolo{
  display: inline;
  padding: 0;
  position: relative;
  left: 15px;
  top: 8px;
}

.logotexto{
  display: inline;
  padding: 0;
  position: relative;
  right: 60px;
}

/* Menu */

.menu{
  display: inline-block;
  position: absolute;
  right: 0;
  /* left: 0; */
  z-index: 1;
}



.menu li{
  /* font-family: 'Lato', sans-serif; */
  display: inline-block;
  /* font-size: 14px; */
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 10px;
}

.menu li a{
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  align-items: baseline;
  color: #404A62;
  text-transform: uppercase;
}

.menu li a:hover {
  color: pink;
  transition-property: color;
  transition-duration: .5s;
  will-change: color;
}

.menu li .contact{
  background: #404A62;
  padding: 10px 50px;
  margin-right: 10px;
  border-radius: 15px;
  color: white;
}

.menu li .contact:hover{
  background-color: pink;
  transition-property: background-color;
  transition-duration: .5s;
  color: white;
  will-change: background-color;
}


/* Portada */

.portada{
  position: relative;
  font-size: 30px;
  color: white;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 900;
}


.portada .background{
  background-image: url('../images/portada.jpg');
  background-size: cover;
  background-position: center;
  /* margin: 0; */
  /* padding: 0; */
  width: 100%;
  position: relative;
  right: 0px;
  height: 700px;
  overflow: hidden;
}

.texto h3{
  width: 500px;
  font-size: 35px;
  color: white;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 900;
  position: relative;
  top: 60px;
  left: 50px;
}

.autor h3{
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 60px;
  left: 50px;
}


/* -------------- SERVICIOS ----------------- */

/* .servicios .contenedor{
  width: 340px;
  display: inline-block;
  box-shadow: 0px 2px 6px rgba(0,5,72,0.15);
  margin-top: 20px;
} */

.servicios:before{
  height: 20px;
  display: block;
  content: '';
}

.servicios .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* font-size: 16px; */
  /* grid-column-gap: 100px; */
}

.servicios .item{
  box-shadow: 0px 2px 6px rgba(0,5,72,0.15);
  margin-top: 20px;
  font-weight: 400;
  color: #404A62;
  /* padding: 10px 0px 50px 0; */
  margin: 30px 15px;
  border-radius: 10px;
}

.servicios{
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* margin: auto; */
  width: auto;
  margin: 0 80px;
}

.servicios .sub-title{
  text-align: center;
}

.servicios img {
  width: 100%;
}

.servicios .item figure{
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
}

.servicios h3{
  text-align: center;
  font-weight: 900;
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}



.servicios ol{
  list-style: none;
  margin-right: 20px;
}

.servicios li{
  padding: 9px 0;
  color: #6C6C6C;
}

.servicios li:before{
  content: '- ';
}

.digital ol h2{
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  padding-bottom: 0;
}


/* -------- Portafolio ----------- */

/* .portafolio h2{
  margin: 40px 80px;
  padding-bottom: 15px;
  color: #3E516D;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  border-bottom: solid 5px;
  border-image: linear-gradient(to right, pink 0%, pink 3%,#ECF0F1 3%, #ECF0F1 100%);
  border-image-slice: 1;
} */

.portafolio:before{
  height: 50px;
  display: block;
  content: '';
}

.portafolio{
  /* width: 1000px; */
  /* font-size: 16px; */
  align-content: center;
}

.portafolio h6{
  font-family: 'Lato', sans-serif;
  color: #7F7F7F;
  font-size: 15px;
  font-weight: lighter;
  margin: 0 1%;
  line-height: 30px;
  letter-spacing: 2px;
  width: 1000px;
}

.portafolio p{
  margin: 0 80px;
}

.portafolio .image-container{
  margin-top: 50px; 
  display: grid;
  /* width: 1000px; */
  grid-template: 1fr 1fr / 100px repeat(3, 1fr) 100px;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  margin: 0 auto;
  grid-template-areas: ". image-1 image-2 image-3 ."
                       ". image-4 image-5 image-6 .";
}

.item{
  /* background: lightblue;
  border: solid red 1px; */
  margin: 0;
}

.image-container img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  /* position: relative; */
  /* bottom: 10%; */
  /* right: 10%; */
}

.image-container figure{
  height: 100%;
  /* overflow: hidden; */
  display: block;
}

.image-1{
  grid-area: image-1;
}
.image-2{
  grid-area: image-2;
}
.image-3{
  grid-area: image-3;
}
.image-4{
  grid-area: image-4;
}
.image-5{
  grid-area: image-5;
}
.image-6{
  grid-area: image-6;
}

 /* ------------ MODOS DE TRABAJO ------------- */

 .trabajo:before{
  height: 50px;
  display: block;
  content: '';
}
 .trabajo{
   margin-top: 70px;
   /* font-size: 16px; */
 }
 .modalidades .container{
    /* width: 1000px; */
    /* height: auto; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-gap: 0px;
    /* background-image: url("../images/trabajo.jpg"); */
 }

 .trabajo .container-cover{
   display: flex;
   justify-content: center;
   overflow: hidden;  
 }

 .cover{
   /* object-fit: cover; */
   margin-top: 50px;
   width: 1130px;
   height: 600px;
   /* margin: 0 auto; */

 }

 .iguala, .proyecto {
    box-shadow: 0px 2px 6px rgba(0,5,72,0.15);
    /* border: solid red 1px; */
    width: 300px;
    height: 220px;
    text-align: center;
    padding: 0 30px 30px;
    margin: -20px;
    /* font-size: 14px; */
    line-height: 24px;
    position: relative;
    bottom: 100px;
    background: #F7F7F7;
    border-radius: 10px;
    /* font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #404A62; */
 }

 .iguala h3, .proyecto h3{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #303F5A;
 }

  .iguala h6, .proyecto h6{
 font-family: 'Lato', sans-serif;
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #6D6D6D;
 }

 /* -------- Proceso Creativo --------- */

 .proceso:before{
  height: 50px;
  display: block;
  content: '';
}

 .proceso h3{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #303F5A;
  margin-bottom: 20px;
}

.proceso .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* font-size: 16px; */
}

.proceso .container p{
  font-family: 'Lato', sans-serif;
  /* font-size: 14px; */
  text-align: center;
  line-height: 25px;
  margin-top: 30px;
}

.proceso .container img{
  width: 90px;
  margin-top: 40px;
  margin-bottom: -30px;
}

.proceso .container .item{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* --------------- Footer ------------------- */

.footer{
  height: 400px;
  margin-top: 100px;
  background: #303F5A;
  color: white;
  display: grid;
  grid-template-columns: 60% 25%;
  overflow: hidden;
  width: 100vw;
  grid-gap: 100px;
  /* font-size: 16px; */
  /* align-items: left; */
}

.footer .item p{
  color: white;
  margin-top: 25px;
}

.footer .aviso{
  /* margin: 40px 0 0; */
  width: 100%;
}

.footer .contact{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  margin-top: 60px;
}

.footer .contact p{
  margin: 40px 0 0;
  /* padding-left: 20px; */
}

.aviso .clique{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  width: 50%;
}

.aviso a{
  text-decoration: none;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 30px 80px 0 80px;
  color: white;
}

.contact .phone{
  margin-top: 10px !important;
}

.aviso{
  justify-self: left;
  font-size: 1em;
}

/* ----------------- Responsive Design ------------------- */

@media screen and (max-width: 1170px){
  
  .portada .background{
    height: 600px
  }

  .menu{
    z-index: -1;
    /* transition-duration: .1s; */
    /* position: absolute; */
    /* right: 0; */
  }

  .menu.is-active{
    display: inline;
  }

  .menu li{
    height: 0px;
    width: 0px;
    transition-duration: .2s;
    /* transition-delay: .5s; */
  }
  .menu.is-active li{
    height: 50px;
    width: 200px;
    top: 55px;
  }

  .menu li{
    display: flex;
    flex-direction: row;
    background: rgba(80,80,80,.5);
    width: 300px;
    /* height: 50px; */
    /* padding: 5px 10px; */
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .menu li a{
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    line-height: 50px;
  }

  .menu li a:hover{
    background-color: pink;
    transition-property: background-color;
    transition-duration: .3s;
    color: black;
  }

  .menu li .contact:hover{
    color: black;
  }
  .menu li .contact{
    background: rgba(80,80,80,0);
    padding: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .hamburger{
    display: block;
  }

  .footer{
    grid-gap: 50px;
  }
}

@media screen and (max-width: 1100px){
.portada .background{
    height: 500px;
  }
  
  .servicios .container{
    display: block;
    font-size: 1.1em;
    width: 90%;
  }

  .servicios{
    margin: 0 5%;
  }

  .servicios .item{
    position: relative;
    width: 120%;
    height: 120%;
    right: 10%;
    bottom: 10%;
  }

  .portafolio .image-container{
    margin-top: 70px;
    grid-template: repeat(3,250px) / repeat(2, 45%);
    grid-template-areas: "image-1 image-2" 
                         "image-3 image-4"
                         "image-5 image-6";
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .footer .aviso, .footer .contact{
    font-size: .8em;
    line-height: 1em;
  }

  .footer .contact{
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: top;
  }

  .footer .contact .left{
    width: 350px;
  }

  .footer a{
    font-size: 2em;
    text-align: center;
  }

  .iguala, .proyecto {
    padding: 0;
  }
}



@media screen and (max-width: 970px){
  p{
    font-size: 16px;
  }

  h2{
    font-size: 30px;
  }
  
  .proceso .item{
    /* display: grid !important;
    grid-template-columns: 35% 60%;
    align-items: center; */
  }

  .proceso .left img{
    /* width: 100%; */
    /* align-self: right; */
  }
  
  .proceso .right p, .proceso .right h3{
    /* width: 100%; */
    padding: 0;
    margin: 0;
  }

  .image-container img{
    /* height: auto;
    position: initial;
    overflow: hidden; */
  }

  .footer .contact .left {
    width: 200px;
  }

  .proceso p{
    margin: 0 40px;
  }

  .proceso .right h3{
    margin-bottom: 15px;
  }

  .proceso .container{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: initial;
  }

  .footer{
    grid-template-columns: 55% 45%;
    height: 55vh;
  }

  .header{
    left: 0;
  }

  .footer .aviso p{
    margin-top: 10px;
    font-size: 14px;
  }

  .footer .clique{
    font-size: 20px !important;
    margin-bottom: 0;
    /* text-align: center;  */
  }

  .footer .aviso{
    line-height: .6em;
  }

  .footer .aviso a{
    font-size: 2em;
  }
}

@media screen and (max-width: 785px){
  .footer{
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: initial;
    grid-template-areas: "aviso"
                         "contacto";
    align-items: center;
    justify-items: center;
    height: 580px; 
  }

  .footer .aviso{
    grid-area: aviso;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer .aviso a{
    margin-top: 40px;
  }

  .footer .contact{
    grid-area: contacto;
    margin-top: 0;
    align-self: center;
  }

  .footer .clique{
    width: initial;
    text-align: center;
  }
}


@media screen and (max-width: 620px){

  p{
    font-size: 14px;
  }

  h2{
    font-size: 18px;
  }
  .iguala, .proyecto {
    width: 200px;
    height: auto;
  }

  .footer{
    height: 650px;
  }

  .footer .contact .right p, .footer .contact .left p{
    margin-top: 10px;
  }

  .texto h3{
    font-size: 22px;
    width: 250px;
    margin-top: 50px;
  }

  .autor h3{
  font-size: 16px;
  }

  .hamburger{
  padding-left: 30px;
  }

  .portafolio .image-container{
    grid-template-rows: repeat(6,250px);
    grid-template-columns: 90%;
    grid-template-areas: "image-1"
                          "image-2"
                          "image-3"
                          "image-4"
                          "image-5"
                          "image-6";
  }

  .portafolio .image-container .item{
    width: 80%;
    height: 100%;
    overflow: hidden;
  }

  .portafolio .image-container .item img{
    width: 100%;
    position: relative;
    bottom: 10%;
  }



}


@media screen and (max-width: 400px){
  
  .iguala, .proyecto {
    width: 150px;
  }

  .footer{
    height: 700px;
  }

  .proceso .container{
    margin-top: 30px;
  }
}

@media screen and (max-width: 380px){
  
  .header .logosolo{
    left:0;
  }
  
  .footer{
    height: 720px;
  }

  .footer .aviso a{
    font-size: 1.2em;
  }

  .texto h3, .autor h3{
    background: rgba(20, 20, 20, .3);
    border-radius: 20px;
  }

  .autor h3{
    width: 110px;
  }

  .servicios h3{
    font-size: 15px;
  }

  .servicios .item{
    font-size: .8em;
  }

  .proyecto h3, .iguala h3{
    font-size: 1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  
}


/* NOTAS para Responsive

Comienza en un max-width de 1170 */
