@import 'variables.css';
@import 'icon.css';
@import 'header.css';
@import 'portada.css';
@import 'servicios.css';
@import 'portafolio.css';
@import 'modosTrabajo.css';
@import 'proceso.css';
@import 'footer.css';
@import 'whatsappButton.css';

/* --------------- icono --------------------- */



/* ------------------ CONFIGURACIONES GENERALES/CONSTANTES -------------- */


html {
  scroll-behavior: smooth;
}


body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h2{
  margin: 40px 80px;
  padding-bottom: 15px;
  color: #3E516D;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  
}

h2.subtitle{
  text-transform: uppercase;
  @apply --bottomBorder;
}

p.description{
  margin: 0 80px;
}

p{
  font-family: 'Lato', sans-serif;
  color: #7F7F7F;
  font-size: 16px;
  font-weight: lighter;
  /* margin: 0 80px; */
  line-height: 30px;
  letter-spacing: 2px;
  /* width: 1000px; */
  /* padding-bottom: 20px; */
}

.hamburger{
  color: black;
  background: white;
  font-size: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  z-index: 2;
  top: 5px;
  display: none;
  /* padding-left: 90px; */
}

/* --------------- Header --------------------- */




/* Portada */




/* -------------- SERVICIOS ----------------- */

/* .servicios .contenedor{
  width: 340px;
  display: inline-block;
  box-shadow: 0px 2px 6px rgba(0,5,72,0.15);
  margin-top: 20px;
} */




/* -------- Portafolio ----------- */

/* .portafolio h2{
  margin: 40px 80px;
  padding-bottom: 15px;
  color: #3E516D;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  border-bottom: solid 5px;
  border-image: linear-gradient(to right, pink 0%, pink 3%,#ECF0F1 3%, #ECF0F1 100%);
  border-image-slice: 1;
} */



 /* ------------ MODOS DE TRABAJO ------------- */

 

 /* -------- Proceso Creativo --------- */

 

/* --------------- Footer ------------------- */



/* ----------------- Responsive Design ------------------- */


@media screen and (max-width: 970px){
  p{
    font-size: 16px;
  }

  h2{
    font-size: 30px;
  }
}


@media screen and (max-width: 620px){
  
  p{
    font-size: 14px;
    letter-spacing: 0;
  }
  
  h2{
    font-size: 18px;
  }
  
  
}




/* NOTAS para Responsive

Comienza en un max-width de 1170 */
